<style>
#body{
    background-color: #ebeff5;
}


#total-orders{
    background-color: #4cb4c7;
}

#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}

#vijay{
    background-color: salmon;
}

#yogesh{
    background-color: greenyellow;
}

</style>